* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 50px;
}

.header {
    margin: 0;
    background-color: #f7f7f7;
    height: 0.64rem;
    padding: 0.12rem;
}

.key {
    display: block;
    height: 0.64rem;
    line-height: 0.64rem;
    border: none;
    outline: none;
    -webkit-touch-callout: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    font-size: 0.24em;
    color: #333333;
    text-indent: 0.48em;
    text-align: left;
    padding-left: 0.42rem;
    background-image: url(../images/ic_search_2x.png);
    background-repeat: no-repeat;
    background-size: 0.3rem;
    background-position-y: 0.16rem;
    background-position-x: 0.12rem;
}

.key::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #999999;
    text-align: left;
}

.key::-moz-placeholder { /* Firefox 19+ */
    color: #999999;
    text-align: left;

}

.key:-ms-input-placeholder { /* IE 10+ */
    color: #999999;
    text-align: left;

}

.key:-moz-placeholder { /* Firefox 18- */
    color: #999999;
    text-align: left;
}

.key::-webkit-search-cancel-button {
    position: relative;
    right: 0.24rem;
    /*-webkit-appearance: none;*/
    /*height: 0.24rem;*/
    /*width: 0.24rem;*/
    /*border-radius:0.24rem;*/
    /*background: rgba(0,0,0,0.3);*/
}

.key::-webkit-search-cancel-button:after {
    content: 'x';
}

.btn {
    height: 0.48rem;
    margin-left: 0.24rem;
    line-height: 0.48rem;
    border-radius: 8px;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    width: 10%;
    font-size: 0.24em;
    color: #333333;
}

.list {
    width: 100%;
    margin-bottom: 0.24rem;
}

.pic-div {
    position: relative;
    float: left;
    width: 1.8rem;
    height: 2.7rem;
    background-color: #ffffff;
    margin-left: 0.24rem;
    margin-right: 0.24rem;
    overflow: hidden;
}

.list-pic {
    display: block;
    height: 100%;
}
.pic-cover{
    left: 50%;
    transform: translateX(-25%);
}
.list-title {
    font-size: 0.28em;
    line-height: 1;
    height: 1em;
    color: #333333;
    margin-bottom: 0.16rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.list-type-time {
    color: #999999;
    font-size: 0.24em;
    margin-bottom: 0.16rem;
}

.list-author {
    color: #999999;
    font-size: 0.24em;
    line-height: 1;
    height: 1em;
    margin-bottom: 0.16rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.list-form {
    color: #999999;
    font-size: 0.24em;
    line-height: 0.24em;
}

.form {
    height: 0.32rem;
    width: 0.32rem;
    vertical-align: sub;
}

.list-serises {
    float: left;
    margin-top: 0.28rem;
    height: 0.42rem;
    width: 0.88rem;
    border-radius: 2px;
    border: 1px solid #c7c7c7;
    color: #454545;
    font-size: 0.24em;
    background: #ffffff;
}

.list-serises:active {
    color: #999999;
    background: #eaeaea;
}

.info-part {
    height: 2.7rem;
    border-bottom: 1px solid #e1e1e1;
    line-height: 1;
    padding-right: 0.24rem;
    margin-left: 2.28rem;
}

.float-div {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;

}

.list-block {
    display: none;
    height: 8rem;
    background: #ffffff;
    position: fixed;
    z-index: 1001;
    overflow-y: scroll;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.list-grad {
    display: none;
    height: 8rem;
    background: #ffffff;
    position: fixed;
    z-index: 1001;
    overflow-y: scroll;
    overflow-x: hidden;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.list-block-title {
    height: 0.72rem;
    line-height: 0.72rem;
    color: #333333;
    font-size: 0.28em;
    line-height: 0.72rem;
    text-align: center;
}

.list-grad-title {
    height: 0.72rem;
    line-height: 0.72rem;
    color: #333333;
    font-size: 0.28em;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.block {
    float: left;
    width: 16.66%;
    height: 16.66vw;
    font-size: 0.28em;
    color: #333333;
    line-height: 16.66vw;
    text-align: center;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    padding-right: 1px;
    box-sizing: border-box;
    margin-bottom: -1px;
}

.block:active {
    background: #eaeaea;
}

.grad {
    padding-left: 0.48rem;
    padding-right: 0.48rem;
    height: 1.02rem;
    line-height: 1.02rem;
    font-size: 0.24em;
    color: #333333;
    border-bottom: 1px solid #e1e1e1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grad:active {
    background: #eaeaea;
}

[v-cloak] {
    display: none;
}

.show {
    display: block !important;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.logo-part {
    display: none;
    padding: 0;
    padding-left: 0.27rem;
    padding-right: 0.27rem;
    margin-top: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.init {
    font-size: 0.32em;
    color: #666666;
    text-align: center;
    margin-bottom: 0.72rem;
}

.logo-div {
    float: left;
    margin: 0px 0.33rem 0.54rem 0.33rem;

}

.logo {
    height: 1.08rem;
    width: 1.08rem;
    display: block;
}

.logo-name {
    font-size: 0.2em;
    color: #333333;
    line-height: 1;
    margin-top: 0.16rem;
    text-align: center;
}

.line {
    width: 100%;
    height: 0.24rem;
}
.loading{
    font-size: 0.28em;
    color: #666666;
    text-align: center;
    position: absolute;
    top: 1rem;
    width: 4rem;
    left: 50%;
    margin-left: -2rem;
}
.close-icon {
    position: absolute;
    width: 0.24rem;
    height: 0.24rem;
    top:0.32rem;
    right: 0.28rem;
    background: url('../images/ic_close_2x.png') no-repeat;
    background-size: 0.24rem;
    display: none;
    outline: 0;
    border:none;
    -webkit-touch-callout: none;
    cursor: pointer;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (-webkit-min-device-pixel-ratio: 2) {
    body {
        font-size: 100px;
    }
}

@media (-webkit-min-device-pixel-ratio: 2.6) {
    body {
        font-size: 150px;
    }
}

@media (-webkit-min-device-pixel-ratio: 3.5) {
    body {
        font-size: 200px;
    }
}

@media (-webkit-min-device-pixel-ratio: 4) {
    body {
        font-size: 250px;
    }
}

.windows8 {
    display: none;
    position: absolute;
    width: 0.78rem;
    height: 0.78rem;
    margin: auto;
    z-index: 1000;
    left: 50%;
    margin-left: -0.39rem;
    top: 50%;
    margin-top: -0.39rem;
}

.windows8 .wBall {
    position: absolute;
    width: 0.74rem;
    height: 0.74rem;
    opacity: 0;
    transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    animation: orbit 6.96s infinite;
    -o-animation: orbit 6.96s infinite;
    -ms-animation: orbit 6.96s infinite;
    -webkit-animation: orbit 6.96s infinite;
    -moz-animation: orbit 6.96s infinite;
}

.windows8 .wBall .wInnerBall {
    position: absolute;
    width: 0.10rem;
    height: 0.1rem;
    background: rgb(0, 0, 0);
    left: 0px;
    top: 0px;
    border-radius: 0.1rem;
}

.windows8 #wBall_1 {
    animation-delay: 1.52s;
    -o-animation-delay: 1.52s;
    -ms-animation-delay: 1.52s;
    -webkit-animation-delay: 1.52s;
    -moz-animation-delay: 1.52s;
}

.windows8 #wBall_2 {
    animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}

.windows8 #wBall_3 {
    animation-delay: 0.61s;
    -o-animation-delay: 0.61s;
    -ms-animation-delay: 0.61s;
    -webkit-animation-delay: 0.61s;
    -moz-animation-delay: 0.61s;
}

.windows8 #wBall_4 {
    animation-delay: 0.91s;
    -o-animation-delay: 0.91s;
    -ms-animation-delay: 0.91s;
    -webkit-animation-delay: 0.91s;
    -moz-animation-delay: 0.91s;
}

.windows8 #wBall_5 {
    animation-delay: 1.22s;
    -o-animation-delay: 1.22s;
    -ms-animation-delay: 1.22s;
    -webkit-animation-delay: 1.22s;
    -moz-animation-delay: 1.22s;
}
@keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin: 0%;
    }

    30% {
        opacity: 1;
        transform: rotate(410deg);
        animation-timing-function: ease-in-out;
        origin: 7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin: 30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin: 39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin: 70%;
    }

    76% {
        opacity: 0;
        transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin: 0%;
    }

    30% {
        opacity: 1;
        -o-transform: rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin: 7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin: 30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 70%;
    }

    76% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }
}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 0%;
    }

    30% {
        opacity: 1;
        -ms-transform: rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin: 7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 70%;
    }

    76% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 0%;
    }

    30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin: 7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 70%;
    }

    76% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 0%;
    }

    30% {
        opacity: 1;
        -moz-transform: rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin: 7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 70%;
    }

    76% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
}

.noscroll {
    position: fixed;
    overflow-y: scroll
}