<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全网搜索</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script src="js/util/jquery.js"></script>
    <script src="js/util/adapter.js"></script>
    <link type="text/css" rel="stylesheet" href="./css/main.css">
    <script src="js/util/vue.js"></script>
</head>
<body>
<div id="search">
    <div class="float-div" @click="hideFloat"></div>
    <div class="windows8">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
        <p class="loading">正在加载,请您稍候</p>
    </div>
    <div class="header">
        <input class="key" @keyup.enter="search" type="text" placeholder="输入关键字搜索">
        <div class="close-icon" @click.stop="cleartext()"></div>
    </div>
    <div class="line"></div>
    <div class="list" v-for="list in recommend" @click="enterPage(list.href,list.canSelect)" v-cloak>
        <div class="pic-div">
            <img class="list-pic" data-dao="{{list.pic}}" data-form="{{list.form}}">
        </div>
        <div class="info-part">
            <p class="list-title">{{list.title}}</p>
            <p class="list-type-time">{{list.type}}/{{list.times}}</p>
            <p class="list-author">主演&nbsp;&nbsp;{{list.author}}</p>
            <p class="list-form">来源&nbsp;&nbsp;<img class="form" :src="list.icon"/></p>
            <button id="{{'btn_'+$index}}" class="list-serises" v-if="list.canSelect"
                    @click.stop="showSelect($index,$event)">选集
            </button>
            <div class="list-block" v-if="list.showType =='block'">
                <p class="list-block-title">{{list.title}}</p>
                <p class="block" v-for="serise in list.serises" @click.stop="enterBlock(serise.href)">
                    {{$index+1}}</p>
            </div>
            <div class="list-grad" v-if="list.showType=='list'">
                <p class="list-grad-title">{{list.title}}</p>
                <p class="grad" v-for="serise in list.serises" @click.stop="enterBlock(serise.href)">
                    {{serise.title}}</p>
            </div>
        </div>
    </div>
    <div class="logo-part" v-cloak>
        <p class="init">{{msg}}</p>
        <div v-for="logo in logos" class="logo-div" @click.stop="jump($index)">
            <img class="logo" :src="logo.logo">
            <p class="logo-name">{{logo.name}}</p>
        </div>
    </div>
</div>
<!--<button style="height: 100px;width: 200px;font-size: 30px;position: absolute;bottom: 0px;left: 50%;margin-left: -100px" id="kunge">坤哥专用</button>-->
</body>
<script src="search.js"></script>
<script src="js/util/base64.min.js"></script>
</html>