<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全网搜索</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script src="js/util/jquery.js"></script>
    <script src="js/util/adapter.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/jquery.fullpage.css"/>
    <link type="text/css" rel="stylesheet" href="./css/main.css">
    <script src="js/util/vue.js"></script>
    <script type="text/javascript" src="./js/util/jquery-ui.min.js"></script>
    <script type="text/javascript" src="./js/util/scrolloverflow.js"></script>
    <script type="text/javascript" src="./js/util/jquery.fullpage.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#search').fullpage({
                anchors: ['page1'],
                scrollingSpeed: 500,
                loopHorizontal: false,
                scrollOverflow: true,
                continuousVertical: false,
                continuousHorizontal: false,
                css3: false
            });
        });
    </script>
</head>
<body>
<div id="search">
    <div class="section">
        <div class="header">
            <input class="key">
            <button class="btn">搜索</button>
            <ul class="tab" v-cloak>
                <li v-for='tab in tabs' class="tab-li">
                    <a href="">{{tab}}</a>
                </li>
            </ul>
        </div>
        <div class="float-div"></div>
        <div class="slide" data-anchor="slide0">
            <div class="list">
                <img class="list-pic" data-form="lekan"
                     data-dao="http://i3.letvimg.com/lc05_isvrs/201603/07/01/03/64aef50f-ed90-4c90-aacc-5f97610199d1.jpg"
                     src="http://i3.letvimg.com/lc05_isvrs/201603/07/01/03/64aef50f-ed90-4c90-aacc-5f97610199d1.jpg">
                <div class="info-part">
                    <p class="list-title">女医明妃传</p>
                    <p class="list-type-time">电视剧/1455292800000</p>
                    <p class="list-author">主演:张雷,</p>
                    <p class="list-form">来源:<img class="form" src="./images/ic_letv_2.png"></p>
                    <button class="list-serises" id="btn_0" onclick="showFloat()">选集
                    </button>
                    <div style="width: 100%">

                        <div class="list-block" style="width: inherit">
                            <p class="list-block-title">女医明妃传</p>
                            <p class="block">
                                1</p>
                            <p class="block">
                                2</p>
                            <p class="block">
                                3</p>
                            <p class="block">
                                4</p>
                            <p class="block">
                                5</p>
                            <p class="block">
                                6</p>
                            <p class="block">
                                7</p>
                            <p class="block">
                                8</p>
                            <p class="block">
                                9</p>
                            <p class="block">
                                10</p>
                            <p class="block">
                                11</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" data-anchor="slide0">
            <h1>你好</h1>
        </div>
    </div>
</div>
<!--<button style="height: 100px;width: 200px;font-size: 30px;position: absolute;bottom: 0px;left: 50%;margin-left: -100px" id="kunge">坤哥专用</button>-->
</body>
<script src="search.js"></script>
<script src="js/util/base64.min.js"></script>
<script src="//cdn.bootcss.com/zepto/1.1.6/zepto.js"></script>
<script>
    function showFloat() {
        $('.float-div').show();
        $('.list-block').show()
    }
    $('.float-div').onclick = function(){
        $('.float-div').hide();
        $('.list-block').hide()
    }
</script>
</html>